*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    overflow-x: hidden;
}

body {
    background-color: #1c1b1b;
    color: #a7a3a3;
}
.wrapper{
    width: 100vw;
    min-height: 100vh;
    /* color: var(--white);
    background:linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%); */
    display: grid;
    place-items: center;
    align-items: start;
    gap: 30px;
    
}
.head{
    color: white;
    background-color: rgba(255, 255,255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
    margin-top: 2rem;
 
}


.text-size{
    /* text-size-adjust: 20px; */
    background-color: aliceblue;
    max-width: 250px;
    color: #000;
}
.code{
    height: 200px;
    width: 880px;
    overflow: auto;
    position: relative;
    /* background-color: #a5aecb; */
    /* overflow:-moz-hidden-unscrollable; */
    
}

.copy-code-btn{
    background-image: url(./76092b8852857da66b71b929ae1a46f2.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color:linear-gradient(90deg, rgba(42,68,75,1) 0%, rgba(53,53,181,1) 81%, rgba(0,212,255,1) 100%);;
    content: '';
    position: absolute;
 
    right: 8px;
    top: 8px;
    background-repeat: no-repeat;
    background-position: 8px;
    z-index: 10;
    border: 1px solid rgba(255,255,255,.2);
}